<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>

{% include "navbar.html" %}

<section class="py-1">
    <div class="row mt-5">
        <div class="col-lg-8 offset-lg-2">
            <h3>Bienvenue</h3>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <a href="/addprsn" type="button" class="btn btn-success btn-lg"><b>Ajouter un etudiant</b></a>
                </div>
                <div class="col-lg-2">
                </div>
                <div class="col-lg-4">
                    <a href="/fr_page" type="button" class="btn btn-info btn-lg"><b>Enregistrer votre présence</b></a>
                </div>
            </div>

            <br>
           
        </div>
    </div>
</section>

</body>
</html>